@CHARSET "UTF-8";


.btn-step1{
	display: block; 
	margin: 0;
	font-size: 0.5rem; 
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 0 none;
	color: #fff;
	height:  50px; 
	width: 50px;
	float: left;
	background-color: #000
}

.btn-step11{
	display: block; 
	font-size: 0.5rem; 
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 0 none;
	color: #fff;
	height: 30px; 
	width: 30px;
	float: left;
	background-color: #000
}



.btn-step2{
	display: block; 
	margin: 0;
	font-size: 0.5rem; 
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 0 none;
	color: #fff;
	height: auto; 
	width: auto;
	padding-left: 10px;
	float: left;
	background-color: #000
}


.btn-step3{
	display: block; 
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	text-overflow: ellipsis;
	border: 0 none;
	color: #fff;
	height: 50px; 
	width: 50px;
	padding-left: 10px;
	float: left;
	background-color: #000
}


.btn-step4{
	display: block; 
	font-size: 0.5rem; 
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 0 none;
	color: #fff;
	height: 40px; 
	width: 40px;
	float: left;
	background-color: #000
}


.btn-volume{
	display: block; 
	margin: 0;
	font-size: 0.5rem; 
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
	horizontal-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 0 none;
	color: #fff;
	height: auto; 
	width: 20px; 
	float: left;
	background-color: #000
}

.ui-footer-sy {
	width: 100%;
	height: 3.566666666666666rem;
	position: absolute;
	bottom: 0;
	left: 0
}


.ui-btn-sy {
	display: block;
	padding-top: 1rem;
	padding-right: .6666666666666666rem;
	padding-bottom: 1rem;
	padding-left: .6666666666666666rem;
	margin: 0;
	font-size: 2.0666666666666664rem;
	line-height: 1.8666666666666667rem;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 0 none;
	color: #fff;
	background-color: #4b4237
}

.ui-header .ui-lit-title {
	color: #fff;
	font-size: 1.5rem;
	white-space: nowrap;
	margin: 0;
	padding-left: 1.0666666666666667rem;
	padding-right: 1.0666666666666667rem
}

table{
	width:50%;
	height: 50%;
	margin: auto;
	border-color:#000;
	text-align: center;
}

td{
	text-align: center;
}
 

.step3-table{
	width:20%;
	height: 20%;
	margin: auto;
	text-align: center;
}

.step4-table{
	width:100%;
	height: 20%;
	margin: auto;
	text-align: center;
}





.btn-pedo{
	display: block; 
	margin: 0;
	font-size: 0.5rem; 
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 0 none;
	color: #fff;
	height: 25px; 
	width:  25px;
	float: left;
	background-color: #000
}




