* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.snoozeMode {
	background-image:url('../image_zip/SnoozeMode/SnoozeMode_background.png');
}



.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}

.center
{
margin:auto;
width:70%;
}


.snoozebtn-button-icon {
    background-image: url('../image_zip/AlarmRinging/button_snooze.png');
}

a.snoozebtn-button-icon:active:hover,.snoozebtn-button-icon:enabled:active:hover {
	background-image: url('../image_zip/AlarmRinging/button_snooze_press.png');
}

.alarmoffbtn-button-icon {
    background-image: url('../image_zip/AlarmRinging/button_alarmOff.png');
}

a.alarmoffbtn-button-icon:active:hover,.alarmoffbtn-button-icon:enabled:active:hover {
	background-image: url('../image_zip/AlarmRinging/button_alarmOff_press.png');
}

.leftbottom {
    height: 100%;
    background-repeat: no-repeat;
    background-position: left bottom 15px;
}
.rightbottom {
    height: 100%;
    background-repeat: no-repeat;
    background-position: right bottom 15px;
}



.snoozebtn {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.snoozebtn.pressed {
    background-image: url('../image_zip/AlarmRinging/button_snooze_press.png');
}

.alarmoffbtn {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.alarmoffbtn.pressed {
    background-image: url('../image_zip/AlarmRinging/button_alarmOff_press.png');
}