* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

.backgroundImage{
	background: #f3f3f3 url('../touch_bg.png');
	background-repeat: no-repeat;
	width: 100%;
}

.changeImage {
	background-image: url('../suc.png');
	background-repeat: no-repeat;
	width:100%;
}

.content_text {
	
	font-weight:bold;
	font-size:5em;
	color:#fff;
}